__pycache__
.vscode
*.so
build
*.egg-info
.flake8
setup.cfg
.pre-commit-config.yaml

checkpoints

data/scannetv2/train
data/scannetv2/val
data/scannetv2/val_gt
data/scannetv2/test
data/scannetv2/superpoints
data/scannetv2/pseudo_labels
data/scannetv2/gpfeats_pseudo_labels
data/scannetv2/gpfeats_pseudo_labels_variance
data/scannetv2/gpfeats_pseudo_labels_spp_pool_debug
data/scannetv2/gpfeats_pseudo_labels_variance_align_spp_pool
data/scannetv2/gp_deep_truekl_best

data/semantic_kitti/sequences

exps
results
pretrains
work_dirs